.first {
  border-top: 2px solid #908f8f;
}

.last {
  border-bottom: 2px solid #908f8f;
}

.even {
  background: #dedede;
}

.odd {
  background: #fff;
}

.selected {
  background: #444444;
  color: white;
}